{% extends 'base.html' %}

{% block header_content %}
<style>
.center {
 width: auto;
 display: table;
 margin-left: auto;
 margin-right: auto;
}
.text-center {
 text-align: center;
}
</style>
<!-- Datatable -->
<link href="/static/plugins/datatables/css/jquery.dataTables_themeroller.css" rel="stylesheet">
{% endblock %}



{% block container %}
<div id="main-container">
	<div class="padding-md">
		<div class="row">
			<div class="col-md-12">
				<div class="panel panel-default">
					<div class="no-margin" id="formValidate1" data-validate="parsley" novalidate="">
						<div class="panel-heading">
							新建发布模板
						</div>
						<div class="panel-body">
							<div class="row">
								<div class="col-md-12">
                                    <div class="form-group">
                                        <label class="col-lg-1 control-label">模板名称</label>
                                        <div class="col-lg-4">
                                            <input class="form-control" type="text">
                                        </div><!-- /.col -->
                                    </div>
								</div><!-- /.col -->
							</div><!-- /.row -->
                            <div class="seperator"></div>
                            <div class="seperator"></div>
							<div class="row">
								<div class="col-md-12">
                                    <div class="form-group">
                                        <label class="col-lg-1 control-label">路径</label>
                                        <div class="col-lg-4">
                                            <input class="form-control" type="text">
                                        </div><!-- /.col -->
                                    </div>
								</div><!-- /.col -->
							</div><!-- /.row -->
                            <div class="seperator"></div>
                            <div class="seperator"></div>
							<div class="row">
								<div class="col-md-12">
                                    <div class="form-group">
                                        <label class="col-lg-1 control-label">服务器</label>
                                        <div class="col-lg-10">
                                            <table>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <input type="text" class="form-control" placeholder="可选" style="width: 180px;" id="no_user_search">
                                                    </td>
                                                    <td></td>
                                                    <td>
                                                        <input type="text" class="form-control" placeholder="已选" style="width: 180px;" id="user_search">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="hide"><!-- 保存可选用户的原始数据，用于用户搜索 -->
                                                        <select multiple="multiple" name="no_selected_users_hide" id="no_selected_users_hide">
                                                        </select>
                                                    </td>
                                                    <td>
                                                        <select multiple="multiple" class="form-control" style="height: 180px;width: 326px;" id="no_selected_users">
                                                        </select>
                                                    </td>
                                                    <td style="width: 35px;">
                                                        <button class="btn btn-default btn-sm" type="button" id="select_user_btn">
                                                        <i class="fa fa-chevron-right"></i>
                                                        <i class="fa fa-chevron-right"></i>
                                                        </button>
                                                        <button class="btn btn-default btn-sm" type="button" id="un_select_user_btn">
                                                        <i class="fa fa-chevron-left"></i>
                                                        <i class="fa fa-chevron-left"></i>
                                                        </button>
                                                    </td>
                                                    <td class="hide"><!-- 保存已选用户的原始数据，用于用户搜索 -->
                                                        <select multiple="multiple" name="selected_users_hide" id="selected_users_hide">
                                                        </select>
                                                    </td>
                                                    <td>
                                                        <select multiple="multiple" class="form-control" style="height: 180px;width: 326px;" id="selected_users">
                                                        </select>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>按住ctrl多选</td>
                                                </tr>
                                            </tbody>
                                            </table>
                                        </div><!-- /.col -->
                                    </div>
								</div><!-- /.col -->
							</div><!-- /.row -->
						</div>
						<div class="panel-footer text-center">
							<button id="save" type="button" class="btn btn-success" style="margin-right: 180px;">保存</button>
						</div>
					</div>
				</div><!-- /panel -->
			</div><!-- /.col-->
		</div>
	</div>
</div><!-- /main-container -->
{% endblock %}


{% block footer_content %}
<script src="/static/plugins/layer/layer.js"></script> {# 加载layer控件，实现弹出框 #}
<!-- Parsley表单验证 -->
<script src="/static/template/js/parsley.min.js"></script>
<script>
$(document).ready(function(){
  //加载服务器数据
    var url = "/code_release/get_servers/";
    $.post(url,function (res) {
        var res = $.parseJSON(res)
        console.log(res)
    })
});



/*
*保存数据
*/
$('#save').click(function(){
    var project_name = $("#project_name").val();
    var in_ip = $("#in_ip").val();
    var ex_ip = $("#ex_ip").val();
    var position = $("#position").val();
    data = {"project_name":project_name,"in_ip":in_ip,"ex_ip":ex_ip,"position":position};
    data = JSON.stringify(data);
    var url = "/cmdb/server_add/";

    $.get(url,{data:data},function(msg){
    	ajax_callback(msg);
     });
});


/*
*ajax get callback
*/
function ajax_callback(msg){
    var msg =  $.parseJSON(msg);
    var index = layer.alert(msg, {
        skin: 'layui-layer-molv' //样式类名
    },function(){
        if (msg == '成功'){
            window.location="/cmdb/server_list/";
        }
        else{
           layer.close(index)
        }
    });
}
</script>
{% endblock %}
